li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #4D4D4D;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
    background: #fff;
}

.nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.registration button {
    color: white;
    padding: 10px 20px;
    margin-right:10px ;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    cursor: pointer;
}
.registration button:hover {
    background-color: #008CBA;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.nav_toggler div{
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: darkgrey;
    transition: 0.4s ease-in;
}

.nav_toggler{
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 768px){
    .nav_toggler{
        display: block;
    }
    .nav_menu{
        position: fixed;
        top: 7vh;
        right:0;
        width:50%;
        height: 93vh;
        background: #4D4D4D;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
a{
    color:#fff;
}
}
.nav_active{
    transform: translateX(0);
}

.toggle .line1{
    transform:rotate(-45deg) translate(-5px, 7px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform:rotate(45deg) translate(-5.5px, -8px);
}
